/* ========================================
    FEATURE 04: SECTION - APOIE UMA CAUSA
       Responsável: [Marcos Diego]
======================================== */
:root {
    @media only screen and (max-width: 600px) {
        --tamanho-img-s04: 23.44%;
        --direçao-s04: row;
    }
    @media only screen and (min-width: 600px) {
        --tamanho-img-s04: 23.44%;
        --direçao-s04: column;
    }
    @media only screen and (min-width: 768px) {
        --tamanho-img-s04: 23.44%;
        --direçao-s04: row;
    }
    @media only screen and (min-width: 992px) {
        --tamanho-img-s04: 279px;
        --direçao-s04: row;
    }
    @media only screen and (min-width: 1200px) {
        --tamanho-img-s04: 450px;
        --direçao-s04: row;
    }
}
/* ========================================
    basicos de s04
======================================== */

.contentBase {
    background-color: var(--color-light);
    padding: 40px 80px 0px 80px;
}
#s04 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* ========================================
    Textos de s04
======================================== */
#texto04 {
    width: 450px;
    z-index: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

#texto04 h2 {
    width: 500px;
    font-size: 40px;
    /*font-weight: bold;*/
    font-weight: 600;
    line-height: var(--line-height); 
    letter-spacing: 1px; 
    word-spacing: 2px;
    color: rgb(0, 0, 0);
}

#texto04 p {
    font-size: 19px;
    margin-top: 30px;
    line-height: 2rem;
    color: rgb(0, 0, 0);
}

/* ========================================
    IMG de s04
======================================== */
#s04 img {
    width: var(--tamanho-img-s04);
    height: auto;
   /* box-shadow: 8px -8px 24px rgb(0 0 0 / 0.21);*/
}

/* ========================================
    buttom de s04
======================================== */
#button04 {
    margin-top: 40px;
    justify-content: center;
    width: 100%;
}

#button04 button{
    width: 100%;
    height: 44px;
    border-style: solid;
    border-color: var(--color-primary);
    background-color: white;
    color: var(--color-primary);
}

#button04 button:hover{
    background-color: var(--color-primary);
    color: white;
}

@media (max-width: 768px) {
    .contentBase {
        width: 100vh;
    }

    #s04 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #s04 img  {
        width: 700px;
        height: auto;
    }

    #texto04 {
        width: 700px;
        margin: 0px;
        padding-top: 24px;
        align-items: center;
    }

    #texto04 h2 {
        width: 700px;        ;
        font-size: 3rem;
    }

    #texto04 p {
        font-size: 1.5rem;
    }

    #button04 {
        margin-top: 20px;
    }
}