/* Css para a a feature 05*/
.containerBaseCol {
    display: flex;
    height: 701px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.containerText {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 550px;
    z-index: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

.texto05 h2 {
    width: 500px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1px; 
    letter-spacing: 1px; 
    word-spacing: 2px;
    color: rgb(0, 0, 0);
}

.containerText p {
    font-size: 19px;
    margin-top: 20px;
    margin-top: 15px;
    line-height: 2rem;
    color: rgb(0, 0, 0);
}
.img {
    width: 570px;
    height: auto;
}

#button04 {
    margin-top: 40px;
    justify-content: center;
    width: 100%;
}
#button04 button{
    width: 100%;
    height: 66px;
    gap: 20px;
    border-style: solid;
    border-color: var(--color-primary);
    background-color: white;
    color: var(--color-primary);
}
#button04 button:hover{
    background-color: var(--color-primary);
    color: white;
}

/* RESPONSIVIDADE - TABLET */
@media (max-width: 1024px) {
    .containerBaseCol {
        display: flex;
        margin: 250px;
        align-items: center;
    }
}

/* RESPONSIVIDADE - Celular */
@media (max-width: 480px) {
    .containerBaseCol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}