/* Css para a a feature 05*/

.contentbase5 {
    background-color: var(--color-light);
    padding: 40px 80px 0px 80px;
}

.containerBaseCol {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.containerText {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 550px;
    z-index: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

.containerText h2 {
    width: 500px;
    font-size: 40px;
    /*font-weight: bold;*/
    font-weight: 600;
    line-height: var(--line-height); 
    letter-spacing: 1px; 
    word-spacing: 2px;
    color: rgb(0, 0, 0);
}

.containerText p {
    font-size: 19px;
    margin-top: 20px;
    margin-top: 15px;
    line-height: 2rem;
    color: rgb(0, 0, 0);
}
.imgAdefim {
    width: 570px;
    height: auto;
}

#button04 {
    margin-top: 40px;
    justify-content: center;
    width: 100%;
}
#button04 button{
    width: 100%;
    height: 66px;
    gap: 20px;
    border-style: solid;
    border-color: var(--color-primary);
    background-color: white;
    color: var(--color-primary);
}
#button04 button:hover{
    background-color: var(--color-primary);
    color: white;
}

/* RESPONSIVIDADE - TABLET */
@media (max-width: 768px) {

    .contentbase5 {
        width: 100vh;
    }
    
    .containerText {
        width: 700px;
        margin-left: 0px;
    }

    .containerBaseCol {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    .imgAdefim {
        width: 700px;
        height: auto;
    }

    .containerText h2 {
        width: 700px;
        font-size: 3rem;
    }

    .containerText p {
        width: 700px;
        font-size: 1.5rem;
    }
}